<ion-header-bar class="bar bar-header bar-energized">
    <button class="button button-clear icon ion-navicon" ng-click="toggleLeft()"></button>
    <h1 class="title">FoodCart</h1>
    <button class="button button-clear icon ion-bag"><span class="span-size">{{getTotalQuantity()}}</span></button>
</ion-header-bar>
<div class="bar bar-subheader">
    <h1 class="title">Total Item:({{getTotalQuantity()}}) : Rs {{getTotalPrice()}}</h1>
    <button class="button button-balanced text-center" ui-sref="userdata">Checkout</button>
</div>
<ion-content class="has-subheader">

    <div class="card">
        <div class="item item-thumbnail-right" ng-repeat="item in cartItem">
            <img style="width: 100px; height: 100px" ng-src={{item.Image}}>
            <h3>{{item.Title}}</h3>
            <p>{{item.Price}}</p>
            <p>Quantity: {{item.Quantity}}</p>

        <div>

            <div>
            <a href="#" ng-click="delete($index)"><i class="icon ion-android-trash"></i></a>
            </div>

            <div style="float: right">
</div>

        </div>
        </div>
    </div>

</ion-content>