<ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">FoodCart</h1>
</ion-header-bar>

<div class="bar bar-subheader">
    <h1 class="title">Login</h1>
</div>

<ion-content class="has-subheader">
<br><br>

    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Password">
        </label>
    </div>
    <br>
    <div class="text-center">
        <button class="button button-positive">Login</button>
        <button class="button button-balanced" ui-sref="register">Register</button>
        <br>
        <br>
        <a href="#">Forgot your password?</a>
    </div>

</ion-content>

<ion-footer-bar class="bar-energized">

    <button class="button button-balanced buttonCenter" style="color: white;" ui-sref="home">Skip</button>

</ion-footer-bar>