<ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">FoodCart</h1>
</ion-header-bar>

<div class="bar bar-subheader">
    <h1 class="title">Create Account</h1>
</div>

<ion-content class="has-subheader" padding="true" has-bouncing="false">

    <br><br>

    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-android-social-user placeholder-icon"></i>
            <input type="text" placeholder="Username">
        </label>
        <br>
        <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Password">
        </label>
        <br>
        <label class="item item-input">
            <i class="icon ion-android-call placeholder-icon"></i>
            <input type="number" placeholder="Phone">
        </label>

    </div>
    <br>
        <button class="button button-block button-balanced">Create Account</button>

   <a href="#" class=""><p class="text-center">Already a member?</p></a>
        <button class="button button-block button-stable" ui-sref="login">Log in now</button>


</ion-content>